
/* DEscendiente  */
div p {
    color: rgb(14, 6, 173);
    background-color: rgb(248, 247, 247);
}

/* DiirectoEscendiente  */
div > ul > li {
    color: #16d157;
    border: 1px solid red;
}

h2 + p {
    font-weight: bold;
    font-style: italic;
}

h3 ~ p {
    background-color: #16d157;
}

