body {
    color: brown;
    background-color: rgb(161, 227, 18);
}

.fondo {
    background-color: rgb(40, 67, 185);
}

p {
    color: aliceblue;
}

.texto {
    color: rgb(217, 178, 8);
}

p[data-estado="activo"] {
    font-weight: bold;
    color: blueviolet;
}

#parrafo {
    color: rgb(52, 164, 132);
}

.fondo p {
    color: black;
}